* {
    box-sizing: border-box;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 300;
}
a {
    text-decoration: none;
    color: black;
}
body {
    color: black;
    margin: 0;
}
/* ---------- BANNER ---------- */
#banner {
    width: 100vw;
    height: 200px;
    padding: 20px;
}
#logo {
    display: flex;
    flex-direction: row;
}
#logoImg {
    width: 100px;
    height: auto;
}
#navBar {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 2fr 1fr;
}

#navBar {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#navBar p {
    justify-self: center;
    margin: 4px;
    transition: 1s;
}
#navBar p:hover {
    letter-spacing: 2px;
    cursor: pointer;
}

/* --------- homeBody div ----------- */
#homeBody {
    padding: 20px;
    padding-top: 0px;
}

/* --------- ACCESS PAGE ----------- */
#accessPage {
    padding: 20px;
}

/* --------- FOOTER ----------- */
#footer {
    position: absolute;
    width: 100vw;
    padding: 20px;
    bottom: 0px;
}
#footer div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
